<!DOCTYPE html>
<html>
<head>
  <title>Console</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<%= button_to "Start", { :controller => 'build',
  :id => @practice_session.id}, 
  :method => :put %>
<%= yield %>

</body>
</html>
