<p id="notice"><%= notice %></p>

<p>
  <strong>Study:</strong>
  <%= @examination.study %>
</p>

<p>
  <strong>Name:</strong>
  <%= @examination.name %>
</p>

<p>
  <strong>Voltage:</strong>
  <%= @examination.voltage %>
</p>

<p>
  <strong>Current:</strong>
  <%= @examination.current %>
</p>

<p>
  <strong>Liink:</strong>
  <%= link_to @examination %>
</p>

<%= link_to 'Edit', edit_examination_path(@examination) %> |
<%= link_to 'Back', examinations_path %>
