<%= javascript_include_tag "application" %>
<script type="text/javascript">
	var app = new DcmApp('view-area');
	
	
	
	var ready;
	ready = function() {
	app.init();
	app.load_url("http://x.babymri.org/?53320924&.dcm", 0 , 1);
	app.curr_file_idx = 0;
	app.draw_image();
	for(clut in cluts) {
            $("#clut-select optgroup").append($("<option>").val(clut).text(clut));
        }
	
	$("#clut-select").change(function() {
            app.set_clut($(this).val());
        });
	
	webGLStart();
	};

	$(document).ready(ready);
	$(document).on('page:load', ready);
	
	</script>
   <div id="view-area" style="height:600px">
        
    </div>

    <div id="viewer" class="box">
        <h2>Viewer</h2>
		
        <div id="viewer-bar">
            <div id="view-metadata" class="tool-button">Metadata</div>
            <div id="test-scroll" class="tool-button">Slide through</div>
            <select id="clut-select">
                <optgroup label="CLUT">
                </optgroup>
            </select>
            <select id="window-presets">
                <optgroup label="Window presets">
                </optgroup>
            </select>
            <div id="button-bar-horz">
                <div id="butt-reset" class="tool-button">Reset</div>
            </div>
        </div>


	
<p id="notice"><%= notice %></p>

<p>
  <strong>Study:</strong>
  <%= @examination.study %>
</p>

<p>
  <strong>Name:</strong>
  <%= @examination.name %>
</p>

<p>
  <strong>Voltage:</strong>
  <%= @examination.voltage %>
</p>

<p>
  <strong>Current:</strong>
  <%= @examination.current %>
</p>

<p>
  <strong>Liink:</strong>
  <%= link_to @examination.current %>
</p>

<%= link_to 'Edit', edit_examination_path(@examination) %> |
<%= link_to 'Back', examinations_path %>
